{% extends "bootstrap/base.html" %}

{% block title %}AptNoise{% endblock %}

{% block body %}
<h1>Apt Noise</h1>
<table id="id_articles_table">
        <tr>
            <td>
                <a href={{link}}>{{link}}</a>
            </td>
            <td>
                <form method="post">
                    <input name="item_score" id="id_score" placeholder="Enter score"/>
                    <input type="submit" value="Save score" name="saved_score" id="id_save_score"/>
                </form>
            </td>
        </tr>
</table>

{% endblock %}